  /* Общие настройки */
  * {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    box-sizing: border-box;
    text-shadow: 6px 5px 5px #969696;
   
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
/* li {
    font-size: 15px;
    width: 8em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    font-family: sans-serif;
    text-transform: capitalize;
    position: relative;
    transition: 0.5s;
    margin: 0.8em;
}

li::before,
li::after {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: gainsboro;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0.6em / 2);
}

li::before {left: 0; z-index: -1;}
li::after {right: 0; z-index: -2;}

li:hover {
    color: white;
}

li:hover::before,
li:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: dodgerblue;
}

li:hover::before {
    top: 0;
}

li:hover::after {
    right: -0.4em;
    filter: brightness(0.8);
} */





  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  html {
    scroll-behavior: smooth;
    
  }
  
.container-m {
    width: 100vw;
    /* height: 3000px; */
    padding: 5px;
    margin: 0 auto;
    background-color: #F0F0F0;
}

.map {
    background-image: url(../img/ev/map.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 25px;
}


.phone {
    background-image: url(../img/ev/telephone.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 25px;
}

.mail {
    background-image: url(../img/ev/send-mail-2574.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 25px;
}

.call {
    background-image: url(../img/ev/truck_line_icon_236333.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 25px;
}

.wrap-nav-top {
    width: 100%;
    height: 100px;
}

.logo {
    width: 460px;
}


.logo-header {
    /* background-image: url(../img/ev/tow_truck-48_45904.png);
    background-size: 30px;
    background-position: 350px 7px; 
    background-repeat: no-repeat;
    font-size: 35px;*/
    width: 261px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-container {
    width: 100vw;
}

.section-slider {
    margin-bottom: 70px;
}

.section-services {
    margin-bottom: 70px;
}

.section-stuff {
    margin-bottom: 70px;
}

.section-options {
    margin-bottom: 70px;
}

.slider-wrap {
    width: 1200px;
height: 535px;
margin: 0 auto;
}

.swiper {
    width: 1200px;
    height: 535px;
}

.fit {
    width: 1200px;
    height: 535px;
    object-fit:fill;
}

.stuff {
    width: 100vw;
    margin: 0 auto;
}

.section-slider {
    margin-bottom: 100px;
}

.header-services {
    width: 768px;
    margin: 0 auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-stuff {
    width: 100vw;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stuff-header {
    display: block;
    margin: 0 auto 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
}

.stuff-header-in {
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 150%;
}

.btn-suff {    
    padding: 10px 10px 10px 10px;
    width: 100%;
    display: block;
    text-align: center;
    background-image: url(../img/tow-truck.svg);
    background-size: 55px;
    background-position: 70px 0px;
    background-repeat: no-repeat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
}

.check {
    background-image: url(../img/stuff/checkmark.svg);
}

.tumbs {
    background-image: url(../img/stuff/favorite.svg);
}

.calendar {
    background-image: url(../img/stuff/calendar.svg);
}

.park {
    background-image: url(../img/stuff/tow-truck.svg);
}

.btn-suff:hover {
    background-color: red;
    color: black;
    transition-delay: 0.1s;
}

.wrap-list-stuff {
    width: 1200px;
    margin: 0 auto;
}

.wrap-list-stuff-options {
    width: 1200px;
    margin: 0 auto;
}

.stuff-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stuff-options {
    width: 100vw;
}

.stuff-list-inner {
    width: 240px;
    min-height: 400px;
    outline: 2px solid black;
    box-shadow: 6px 5px 5px #969696;

    background-color: #6f88a07f;
    border-radius: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 115px 10px 10px 10px;

    background-size: 100px 100px;
    background-position: 85px 25px;
    background-repeat: no-repeat;
}

.stuff-header-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 200%;
}

.stuff-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
}

.stuff-options-inner {
    width: 560px;
    min-height: 400px;
    outline: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 6px 5px 5px #969696;

    background-color: #6f88a07f;
    border-radius: 10px;
    margin: 0;
    align-items: center;
    padding: 300px 10px 10px 10px;

    background-size: 560px 300px;
    background-repeat: no-repeat;
}

.ev1 {
    background-image: url(../img/options/ev1.jpg);
}

.ev2 {
    background-image: url(../img/options/ev2.png);
}

.ev3 {
    background-image: url(../img/options/ev3.png);
}

.ev4 {
    background-image: url(../img/options/ev4.png);
}
.options-text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin: 0;
}

.stuff-section {
    margin-bottom: 50px;
}

.heder-stuff-options {
    width: 1200px;
    margin: 0 auto;
}

.stuff-list-options {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.stuff-list-item {
    margin-bottom: 24px;
}

.stuff-list-item:not(:nth-child(4n)) {
    margin-right: 23px;
}

.stuff-list-item-options {
    margin-bottom: 24px;
}

.stuff-list-item-options:not(:nth-child(2n)) {
    margin-right: 23px;
}

.btn-call-buttom {
    outline: 2px solid green;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    display: none;
    text-align: center;
    background-image: url(../img/ev/telephone.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
   
  }

  .foot {
    height: 200px;
}



  @media(max-width: 768px)
  {

.container-m {
        width: 768px;
        padding: 5px;
        margin: 0 auto;
        background-color: #F0F0F0;
     }

     .slider-wrap {
        width: 768px;
    height: 535px;
    margin: 0 auto;
    }
    
    .swiper {
        width: 768px;
        height: 535px;
    }
    
    .fit {
        width: 768px;
        height: 535px;
        object-fit:fill;
    }




.section-slider {
        margin-bottom: 35px;
    }
    
.section-services {
        margin-bottom: 35px;
    }
    
.section-stuff {
        margin-bottom: 35px;
    }
    
.section-options {
        margin-bottom: 35px;
    }

.btn-call-buttom {
    outline: 2px solid green;
    background-color: green;
    border-radius: 3px;
      padding: 10px 10px 10px 10px;
      width: 100%;
      display: block;
      text-align: center;
      background-image: url(../img/ev/telephone.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
    position:-webkit-sticky;
     position:sticky;
      top:0;
    }

.foot {
        height: 300px;
    }

  }  

  @media(max-width: 590px)
  {

    .container-m {
        width: 590px;
        padding: 5px;
        margin: 0 auto;
        background-color: #F0F0F0;
     }



    .slider-wrap {
        width: 585px;
    height: 320px;
    margin: 0 auto;
    }
    
    .swiper {
        width: 585px;
        height: 320px;
    }
    
    .fit {
        width: 585px;
        height: 320px;
        object-fit:fill;
    }


  .section-slider {
      margin-bottom: 35px;
  }
          
  .section-services {
       margin-bottom: 35px;
  }
          
  .section-stuff {
      margin-bottom: 35px;
  }
          
  .section-options {
      margin-bottom: 35px;
  }
  
  .nav-list {
      flex-direction: column;
      height: 240px;
  }
  .nav-menu--top {
      height: 100%;
  }
  .wrap-nav-top {
      height: 240px;
  }
  
  .btn{
      position:-webkit-sticky;
      position:sticky;
      bottom: 20px;
      z-index: 1000;
      
  }
  
  .btn-call-buttom {
    outline: 2px solid green;
    border-radius: 3px;
      padding: 10px 10px 10px 10px;
      width: 100%;
      display: block;
      text-align: center;
      background-image: url(../img/ev/telephone.svg);
      background-size: 25px;
      background-position: 0px 7px;
      background-repeat: no-repeat;
     
     
  }
  .header-services {
      width: 365px;
  }
  .wrap-list-stuff {
      width: 420px;
  }
  .logo-header {
      width: 330px;
  }
  
  .phone {
      background-size: 25px;
      background-position: 0px 11px;
      font-size: 23px;  
  }
  
  .mail {
      background-size: 25px;
      background-position: 0px 11px;
      font-size: 23px;  
  }
  
  .call {
      background-size: 25px;
      background-position: 0px 11px;
      font-size: 23px;    
  }
  
  .stuff-list {
      flex-direction: column;
  }
  .stuff-list-inner {
      width: 320px;
      min-height: 290px;
      padding: 90px 10px 10px 10px;
      background-position: 115px 10px;
  }
  .stuff-list-item:not(:nth-child(4n)) {
      margin-right: 0px;
  }
  .wrap-list-stuff-options {
      width: 400px;
  
  }
  
  .stuff-list-options {
      flex-direction: column;
  }
  .stuff-options-inner {
      width: 390px;
      min-height: 360px;
      padding: 250px 10px 10px 10px;
      background-size: 400px 240px;
      align-items: center;
  }
  .stuff-list-item-options:not(:nth-child(2n)) {
      margin-right: 0px;
  }
  .options-text {
      text-align: center;
  }
  .btn-suff {
      background-position: 20px 0px;
      padding: 10px 10px 10px 65px;
  }

  .foot {
    height: 300px;
}

  }

@media(max-width: 420px)
{

.container-m {
    width: 420px;
    padding: 5px;
    margin: 0 auto;
    background-color: #F0F0F0;
 }

 .slider-wrap {
    width: 420px;
height: 300px;
margin: 0 auto;
}

.swiper {
    width: 420px;
    height: 300px;
}

.fit {
    width: 420px;
    height: 300px;
    object-fit:fill;
}







.section-slider {
    margin-bottom: 35px;
}
        
.section-services {
     margin-bottom: 35px;
}
        
.section-stuff {
    margin-bottom: 35px;
}
        
.section-options {
    margin-bottom: 35px;
}

.nav-list {
    flex-direction: column;
    height: 240px;
}
.nav-menu--top {
    height: 100%;
}
.wrap-nav-top {
    height: 240px;
}

.btn{
    position:-webkit-sticky;
    position:sticky;
    bottom: 20px;
    z-index: 1000;
    
}

.btn-call-buttom {
    outline: 2px solid green;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    display: block;
    text-align: center;
    background-image: url(../img/ev/telephone.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
   
   
}
.header-services {
    width: 365px;
}
.wrap-list-stuff {
    width: 420px;
}
.logo-header {
    width: 330px;
}

.phone {
    background-size: 25px;
    background-position: 0px 11px;
    font-size: 23px;  
}

.mail {
    background-size: 25px;
    background-position: 0px 11px;
    font-size: 23px;  
}

.call {
    background-size: 25px;
    background-position: 0px 11px;
    font-size: 23px;    
}

.stuff-list {
    flex-direction: column;
}
.stuff-list-inner {
    width: 320px;
    min-height: 290px;
    padding: 90px 10px 10px 10px;
    background-position: 115px 10px;
}
.stuff-list-item:not(:nth-child(4n)) {
    margin-right: 0px;
}
.wrap-list-stuff-options {
    width: 400px;

}

.stuff-list-options {
    flex-direction: column;
}
.stuff-options-inner {
    width: 390px;
    min-height: 360px;
    padding: 250px 10px 10px 10px;
    background-size: 400px 240px;
    align-items: center;
}
.stuff-list-item-options:not(:nth-child(2n)) {
    margin-right: 0px;
}
.options-text {
    text-align: center;
}
.btn-suff {
    background-position: 20px 0px;
    padding: 10px 10px 10px 65px;
}

.foot {
    height: 300px;
}

}

@media(max-width: 360px)
{

.container-m {
    width: 360px;
    padding: 5px;
    margin: 0 auto;
    background-color: #F0F0F0;
 }

 .slider-wrap {
    width: 360px;
height: 240px;
margin: 0 auto;
}

.swiper {
    width: 360px;
    height: 240px;
}

.fit {
    width: 360px;
    height: 240px;
    object-fit:fill;
}


.section-slider {
    margin-bottom: 35px;
}
        
.section-services {
     margin-bottom: 35px;
}
        
.section-stuff {
    margin-bottom: 35px;
}
        
.section-options {
    margin-bottom: 35px;
}

.nav-list {
    flex-direction: column;
    height: 240px;
}
.nav-menu--top {
    height: 100%;
}
.wrap-nav-top {
    height: 240px;
}

.btn{
    position:-webkit-sticky;
    position:sticky;
    bottom: 20px;
    z-index: 1000;
    
}

.btn-call-buttom {
    outline: 2px solid green;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    display: block;
    text-align: center;
    background-image: url(../img/ev/telephone.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
   
   
}
.header-services {
    width: 360px;
}
.wrap-list-stuff {
    width: 360px;
}
.logo-header {
    width: 330px;
}

.phone {
    background-size: 25px;
    background-position: 0px 11px;
    font-size: 23px;  
}

.mail {
    background-size: 25px;
    background-position: 0px 11px;
    font-size: 23px;  
}

.map {
    font-size: 13px;
}

.call {
    background-size: 25px;
    background-position: 0px 11px;
    font-size: 23px;    
}

.stuff-list {
    flex-direction: column;
}
.stuff-list-inner {
    width: 320px;
    min-height: 290px;
    padding: 90px 10px 10px 10px;
    background-position: 115px 10px;
}
.stuff-list-item:not(:nth-child(4n)) {
    margin-right: 0px;
}
.wrap-list-stuff-options {
    width: 360px;

}

.stuff-list-options {
    flex-direction: column;
}
.stuff-options-inner {
    width: 360px;
    min-height: 360px;
    padding: 250px 10px 10px 10px;
    background-size: 400px 240px;
    align-items: center;
}
.stuff-list-item-options:not(:nth-child(2n)) {
    margin-right: 0px;
}
.options-text {
    text-align: center;
}
.btn-suff {
    background-position: 20px 0px;
    padding: 10px 10px 10px 65px;
}

.foot {
    height: 300px;
}


}