  /* Общие настройки */
  * {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    box-sizing: border-box;
    /* text-shadow: 6px 1px 5px #969696; */
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

  ul {
    padding: 0;
    list-style-type: none;
}

/* li {
    font-size: 15px;
    width: 8em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    font-family: sans-serif;
    text-transform: capitalize;
    position: relative;
    transition: 0.5s;
    margin: 0.8em;
}

li::before,
li::after {
    content: '';
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    background-color: gainsboro;
    border-radius: 50%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0.6em / 2);
}

li::before {left: 0; z-index: -1;}
li::after {right: 0; z-index: -2;}

li:hover {
    color: white;
}

li:hover::before,
li:hover::after {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: dodgerblue;
}

li:hover::before {
    top: 0;
}

li:hover::after {
    right: -0.4em;
    filter: brightness(0.8);
} */





  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* img {
    max-width: 100%;
  } */
  
  .container-m {
    width: 100vw;
    height: 2000px;
    padding: 5px;
    margin: 0 auto;
    background-color: #F0F0F0;
    }


/* .nav-wrap {
width: 100vw;
display: flex;
justify-content: space-between;
padding: 5px;
    } */

.map {
    background-image: url(../img/ev/map.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 25px;
}


.phone {
    background-image: url(../img/ev/telephone.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 25px;
}

.mail {
    background-image: url(../img/ev/send-mail-2574.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 25px;
}

.call {
    background-image: url(../img/ev/truck_line_icon_236333.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 25px;
    
}

.wrap-nav-top {
    width: 100%;
    height: 100px;
}

.logo {
    width: 460px;
}


.logo-header {
    background-image: url(../img/ev/tow_truck-48_45904.png);
    background-size: 30px;
    background-position: 350px 7px;
    padding: 0px 40px 0px 0px;
    background-repeat: no-repeat;
    font-size: 35px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero-container {
    width: 100vw;
}

.slider-wrap {
width: 100vw;
height: 535px;
margin: 0 auto;
}

.swiper {
    width:100vw;
    height: 535px;
}

.fit {
    width: 100vw;
    height: 535px;
    object-fit:fill;
}

.stuff {
    width: 100vw;

}

.section-slider {
    margin-bottom: 100px;
}

.heder-stuff {
    width: 100vw;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.stuff-header {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.stuff-header-in {
  width: 600px;
}

.btn-suff {
    outline: 2px solid red;
    padding: 10px 10px 10px 10px;
    width: 100%;
    display: block;
    text-align: center;
    background-image: url(../img/ev/truck_line_icon_236333.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
}

.btn-suff:hover {
    background-color: red;
    color: black;
    transition-delay: 0.1s;
}

.wrap-list-stuff-options {
    width: 100vw;
}

.stuff-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stuff-options {
    width: 100vw;


}

.stuff-list-inner {
    width: 240px;
    min-height: 400px;
    outline: 2px solid black;
}

.stuff-options-inner {
    width: 240px;
    min-height: 400px;
    outline: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stuff-section {
    margin-bottom: 50px;
}



.heder-stuff-options {
    width: 1200px;
    margin: 0 auto;
}

.wrap-list-stuff-options {
    width: 100vw;
}

.stuff-list-options {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.btn-call-buttom {
    outline: 2px solid red;
    padding: 10px 10px 10px 10px;
    width: 100%;
    display: none;
    text-align: center;
    background-image: url(../img/ev/telephone.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
  }




  @media(max-width: 768px)
  {
  
  .btn-call-buttom {
      outline: 2px solid red;
      padding: 10px 10px 10px 10px;
      width: 100%;
      display: block;
      text-align: center;
      background-image: url(../img/ev/telephone.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
    }
  }  

@media(max-width: 420px)
{

.btn-call-buttom {
    outline: 2px solid red;
    padding: 10px 10px 10px 10px;
    width: 100%;
    display: block;
    text-align: center;
    background-image: url(../img/ev/telephone.svg);
    background-size: 25px;
    background-position: 0px 7px;
    background-repeat: no-repeat;
  }
}